body > .splash-loader {
  z-index: 11;
}

.splash-loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  color: #000;
  z-index: 3;
}

.splash-loader .section {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.splash-loader.show {
  display: flex;
}

.splash-loader .text {
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-loader .text .con-button {
  display: none;
}


@media screen and (max-width: 600px) {
  .splash-loader .text .icon-area img {
    width: 104px;
    min-width: 104px;
    height: auto;
  }
}

@media screen and (min-width: 600px) {
  .splash-loader .text .icon-area img {
    width: 286px;
    min-width: 286px;
    height: auto;
  }

  .splash-loader h1,
  .splash-loader h2,
  .splash-loader h3,
  .splash-loader h4,
  .splash-loader h5 {
    font-size: var(--type-heading-xl-size);
    line-height: var(--type-heading-xl-lh);
    font-weight: 700;
  }
}

@media screen and (min-width: 1200px) {
  .splash-loader .text .con-button {
    display: flex;
  }
}
